<div class="container-fluid">
    <div class="gridStyle span12" ng-grid="gridOptions" id="grid">
    </div>
    <div class="span2">
        <div id="vmactions" class="btn-group-vertical" style="width: 100%">
            <a href="#" class="btn btn-primary" ng-click="PerformAction('Start')">Start</a>
            <a href="#"  class="btn" ng-click="PerformAction('Pause')">Pause</a>
            <a href="#" class="btn" ng-click="PerformAction('Save')">Save</a>
            <a href="#" class="btn" ng-click="PerformAction('Shutdown')">Shutdown</a>
            <a href="#" class="btn btn-warning" ng-click="PerformAction('Stop')">Turn off power</a>
        </div>
        <div>&nbsp;</div>
        <!--<div class="btn-group-vertical" style="width: 100%">-->
            <!--<a href="#" class="btn">New Snapshot</a>-->
            <!--<a href="#" class="btn">Revert</a>-->
            <!--<a href="#" class="btn">Management</a>-->
        <!--</div>-->
        <!--<div>&nbsp;</div>-->
        <!--<a href="#" class="btn btn-danger" style="width: 82%">Delete Virtual Machine</a>-->
    </div>
</div>